@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: rgb(51, 51, 51);
  color: brown;
  text-align: center;
  margin-top: 100px;
}

#login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height: 70vh; 
  
}

#logo {
  margin-bottom: 20px;
}

#login-button {
  width: 200px; 
 
}
