@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: rgb(51, 51, 51);
  color: brown;
  text-align: center;
  margin-top: 100px;
}

#login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height: 70vh; 
  
}

#logo {
  margin-bottom: 20px;
}

#login-button {
  width: 200px; 
}

#navbar-search-bar {
  padding-right: 20px;
  width: 300px;
}

#landing-page-container {
  display: flex;
  flex-direction: column;
}

#landing-page-welcome-message, #no-items-header, #no-orders-header {
  font-size: 50px;
  font-weight: 600;
  color: white;
  padding-bottom: 300px;
  padding-top: 120px;
}

#landing-page-button-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.landing-page-btn, .add-item-btn, #go-to-payment-btn {
  width: 300px;
  height: 50px;
  border-radius: 6px;
  color: white;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
}

#landing-page-view-orders-btn {
  background-color: rgb(58, 166, 58);
}

#landing-page-create-an-order-btn {
  background-color: rgb(51, 171, 208);
}

#landing-page-view-revenue-btn {
  background-color: rgb(255, 208, 0);
}

#item-page-button-container {
  display: flex;
  gap: 20px;
  padding-top: 20px;
  justify-content: center;
}

.add-item-btn {
  background-color: rgb(58, 166, 58);
}

#go-to-payment-btn {
  background-color: rgb(3, 79, 220);
}
