@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: rgb(51, 51, 51);
  text-align: center;
  // margin-top: 100px;
}

#login-container {
  background-color: #f0f0f0; /* Fallback color */
  background-image: url("https://cdn.dribbble.com/users/1648123/screenshots/3521480/media/023ab5abe6ca7b8f1802da959f54f007.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#main-container {
  margin-top: 200px;
}

#logo {
  margin-bottom: 20px;
}

#login-button {
  width: 200px; 
}

#navbar-search-bar {
  padding-right: 20px;
  width: 300px;

}

#landing-page-container {
  display: flex;
  flex-direction: column;
}

#landing-page-welcome-message, #no-items-header, #no-orders-header {
  font-size: 50px;
  font-weight: 600;
  color: white;
  padding-bottom: 300px;
  padding-top: 120px;
}

#landing-page-button-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.landing-page-btn, .add-item-btn, .go-to-payment-btn {
  width: 300px;
  height: 50px;
  border-radius: 6px;
  color: white;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
}

#landing-page-view-orders-btn {
  background-color: rgb(58, 166, 58);
}

#landing-page-create-an-order-btn {
  background-color: rgb(51, 171, 208);
}

#landing-page-view-revenue-btn {
  background-color: rgb(255, 208, 0);
}

.order-card, .item-card {
  width: 300px;
  margin: 5px;
  background: rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#orderCards, #item-card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 1000px;
  margin: auto;
}

#item-page-container {
  display: flex;
  flex-direction: column;
}

#item-page-button-container {
  display: flex;
  gap: 20px;
  padding-top: 20px;
  justify-content: center;
}

.add-item-btn {
  background-color: rgb(58, 166, 58);
}

.go-to-payment-btn {
  background-color: rgb(3, 79, 220);
}

.add-update-item-btn {
  margin-top: 10px;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
}

.form-btn {
  margin-top: 10px;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
}

.form-btn:hover {
  color: black;
}

.btn-danger:hover{
  color: black;
}

.total-price {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

form label {
  color: white;
  padding-top: 12px;
  padding-bottom: 2px;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
}

.form-control {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
h3{
  color: white;
}
#navigation {
  margin-bottom: 100px;
}

#item-page-order-closed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#item-page-closed-order-tip-amount {
  color: white;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
  padding-top: 5px;
}

#revenue-page-container {
  color: white;
}

button {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #000000;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border-radius: 10px;
}

button:hover {
  color: black;
  box-shadow: inset 0 -100px 0 0 #ffffff;
}

button:active {
  transform: scale(0.9);
=======
#revenue-page-data-container {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  // font-weight: 200;
}

#revenue-page-header {
  padding-top: 120px;
  padding-bottom: 60px;
}

#total-revenue-header {
  padding-bottom: 40px;
}

#revenue-page-date-range {
  padding-bottom: 20px;
}

#revenue-page-payment-types {
  padding-top: 20px;
}
